@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu'), url(http://themes.googleusercontent.com/static/fonts/ubuntu/v4/_xyN3apAT_yRRDeqB3sPRg.woff) format('woff');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  src: local('Ubuntu Bold'), local('Ubuntu-Bold'), url(http://themes.googleusercontent.com/static/fonts/ubuntu/v4/0ihfXUL2emPh0ROJezvraD8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}

/*****************************************************************************
 * LAYOUT & MAIN
 *****************************************************************************/
body {
    margin: 0;
    color: #333;
    font: 15px/22.5px Ubuntu, "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
    overflow-y: scroll;
    background: url(https://developer.cdn.mozilla.net/media/img/bg-content.png);
    -webkit-font-smoothing: antialiased;
}
a {
    color: #333;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

body > header,
body > footer {
    background-color: #333;
    color: white;
    padding: 20px;
    font-size: .85em;
}

body > .wrapper {
}

#nav {
    float: left;
    width: 250px;
    padding: 10px 0px 30px 20px;
    o_utline: 1px solid #fcc;
}

#content {
    margin: 0 0 0 270px;
    o_utline: 1px solid #cfc;
}
#content ~ div {
    clear: both;
}


#nav ul {
    margin: 0;
    padding-left: 2em;
    list-style: square;
    text-shadow: 0 1px 1px white;
}

#nav ul.section {
    padding: 0;
    list-style: none;
}
#nav ul.section > li > span {
    font-weight: bold;
}

/*****************************************************************************
 * ARTICLE
 *****************************************************************************/
article {
    background-color: #fff;
    padding: 1em 2em;
    min-height: 20em;
}

article .code {
    font-size: .8em;
    white-space: normal;
    background-color: #eee;
    border: 1px solid #ddd;
    border-radius: 2px;
}
article .code ol {
    margin: 0 0 0 33px;
    padding: 5px;
}
article .code li {
    border-left: 2px solid #c4c474;
    padding-left: 5px;
}
article .code .g {
    color: rgb(82, 139, 36);
}


article hr {
    background-color: #e4e484;
    height: .75em;
    border: none;
    margin: .75em 0;
}

article h2 {
    font-size: 1.4em;
}
