body {
    background-color: #CDD;
}

.flickr {
    background-color: white;
    border: #CCC 1px solid;
    margin: 0 auto;
    width: 90%;
}

.flickr .images {
    padding: 10px;
}

.flickr .images > * {
    border: 1px solid #DDD;
    padding: 2px;
    margin: 2px 4px;
    display: inline-block;
}

.flickr .image {
    position: relative;
}

.flickr .images > * p {
    position: absolute;
    bottom: 5px; left: 0px; right: 0px;
    padding: 3px 8px 6px 8px;
    margin: 0;
    background: rgba(32, 32, 32, .7);
    color: white;
    font-size: .8em;
    font-weight: bold;

    opacity: 0;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.flickr .images > *:hover p {
    opacity: 1;
}

.flickr .images img {
    opacity: 0;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}
.flickr .images img.loaded {
    opacity: 1;
}

